* {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #95a3b3;
}

#mapselector-container {
  text-align: center;
}
h1 {
  font-weight: 700;
  /* font-style: italic; */
}
section#selector-buttons button {
  margin: 10px 10px;
}
div#tutorial ul {
  background-color: #d9d9d9;
  border-radius: 15px;
  outline: 3px solid white;
  padding: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#board {
  background-color: #ffffff;
  display: table;
  margin: 0 auto;
  align-self: center;
}
table {
  margin: 0 auto;
  outline: 3px solid #4b4e6d;
}
tr {
  height: 5rem;
}
td {
  width: 5rem;
  outline: 3px solid #535b64;
}

td.tile {
  text-align: center;
  cursor: pointer;
}

td.tile.black {
  background-color: #222222;
  font-size: x-large;
  color: #ffffff;
  cursor: auto;
}

td.tile.illuminated,
.bulb {
  background-color: #fdf5bf;
}

td.tile.bulb {
  font-size: xxx-large;
  content: 💡;
}

td.tile.wrong {
  background-color: #df5454;
}

td.tile.number-correct {
  color: green;
}
td.tile.number-wrong {
  color: red;
}

#game-end {
  margin-top: 5ch;
  flex-direction: column;
  align-items: center;
}

#game-status-display {
  margin-left: 2ch;
  display: flex;
  flex-direction: column;
  width: 30%;
  color: #222222;
}

#game-controls {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
#game-controls button {
  margin: 5px 0px 5px 0px;
}

button,
select {
  background-color: #284b63;
  border: #ffffff;
  border-radius: 10px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  height: 25px;
}

input:invalid {
  border: red solid 2px;
}
label {
  font-weight: 600;
}
input {
  border-radius: 10px;
}

#game-status-display {
  background-color: rgb(80, 58, 58);
}

div#leaderboard {
}
div#leaderboard h2 {
  color: #222222;
}
div#leaderboard table {
  margin: 0 auto;
  /* outline: 3px solid #284b63; */
}
#leaderboard tr {
  height: 5rem;
}
#leaderboard td {
  background-color: #d9d9d9;
  width: 20rem;
  outline: 3px solid #284b63;
}
